
#sec_head{
    color: rgb(1, 1, 19);
    text-shadow: 2px 2px 5px #f11616;
}
#sec_div{
    color: rgb(13, 14, 0);
    background: rgb(252, 249, 249);
    text-align: left;
    padding: 10px;
    text-shadow: 1px 1px 1px #f79503;
    font-family: Arial, Helvetica, sans-serif
}